:host::ng-deep {
  width: 100%;
  height: 100%;
  display: block;
  .tb-table-widget {
    .table-container {
      position: relative;
    }
    .mat-mdc-table {
      .mat-mdc-row {
        &.invisible {
          visibility: hidden;
        }
        .mat-mdc-cell {
          .assignee-cell {
            white-space: nowrap;
            .assigned-container {
              overflow: hidden;
              text-overflow: ellipsis;
              .user-avatar {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 8px;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                min-width: 28px;
                min-height: 28px;
                color: white;
                font-size: 13px;
                font-weight: 700;
              }
            }
            .unassigned-container {
              overflow: hidden;
              text-overflow: ellipsis;
              .material-icons.unassigned-icon {
                width: 28px;
                height: 28px;
                font-size: 28px;
                margin-right: 8px;
                color: rgba(0, 0, 0, 0.38);
                overflow: visible;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    span.no-data-found {
      position: absolute;
      top: 60px;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
