<div class="tb-absolute-fill" [fxLayout]="legendContainerLayoutType">
    <tb-legend *ngIf="displayLegend && isLegendFirst"
               [ngStyle]="legendStyle"
               [legendConfig]="legendConfig"
               [legendData]="legendData"
               (legendKeyHiddenChange)="onLegendKeyHiddenChange($event)">
    </tb-legend>
    <div fxFlex #flotElement></div>
    <tb-legend *ngIf="displayLegend && !isLegendFirst"
               [ngStyle]="legendStyle"
               [legendConfig]="legendConfig"
               [legendData]="legendData"
               (legendKeyHiddenChange)="onLegendKeyHiddenChange($event)">
    </tb-legend>
</div>
