<tb-collapsible-card [title]="title">
  <tb-segmented-control class="mcc-tf" [options]="timeframeOptions" [selected]="timeframe"
                        (selectedChange)="setTimeframe($event)"></tb-segmented-control>

  <ng-container *ngFor="let section of charts; let i = index; let first = first; trackBy: trackBySection">
    <div *ngIf="!first" class="mcc-divider"></div>
    <tb-line-chart [title]="section.chartTitle || ''" [titleInfo]="section.info || ''"
                   [series]="sectionSeries[i] || []" [loading]="loading" [dark]="dark" [unit]="section.unit || ''"
                   height="200px" [smooth]="true" [animated]="true" [showLegend]="section.showLegend !== false"
                   [area]="!!section.fill" [syncGroup]="syncGroup" [yDecimals]="1" [xMin]="windowStart"
                   [xMax]="windowEnd" [yMin]="section.yMin" [yMax]="section.yMax"
                   [thresholds]="section.thresholds || []"></tb-line-chart>
  </ng-container>
</tb-collapsible-card>
